body {
    padding: 75px;
    font-size: 2.5em;
    background: #282c34;
    color: black;
    /*margin: 0 auto;*/
    top: 50%;
    left: 50%;
}

button {
    height: 100px;
    width: 100px;
    border: 1px solid #f5f5f5;
    margin: 3px;
}


.square {
    background: #f8f8f8;
}

.status {
    color: azure;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 1.075em;
    padding: 3px;
}